.contactSocial {
    display: flex;
    justify-content: center;
    gap: 10px;
    .socialLogo {
        width: 60px;
        height: 60px;
        border-radius: 50px;
        border: 2px solid rgb(182, 182, 182);
        background-color: rgb(230, 230, 230);
        box-shadow: 0px 0px 5px rgb(30, 30, 30);
        a {
            text-decoration: none;
            color: rgb(30, 30, 30);

            i {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                /* background-color: orange; */
                font-size: 35px;
                text-align: center;
            }
        }
    }
}

.linkedin:hover {
    background-color: #0072b1;
    box-shadow: 0px 0px 5px rgb(13, 141, 158);
    transition: all 0.5s ease;

    i {
        color: rgb(230, 230, 230);
    }
}

.github:hover {
    background-color: rgb(30, 30, 30);
    transition: all 0.5s ease;
    box-shadow: 0px 0px 5px rgb(13, 141, 158);

    i {
        color: rgb(230, 230, 230);
    }
}

.insta:hover {
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    box-shadow: 0px 0px 5px rgb(13, 141, 158);
    transition: all 0.5s ease;

    i {
        color: rgb(230, 230, 230);
    }
}

.google:hover {
    background-color: #ea4335;
    transition: all 0.5s ease;
    box-shadow: 0px 0px 5px rgb(13, 141, 158);

    i {
        color: rgb(230, 230, 230);
    }
}