.basicTech {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 50%;
    height: fit-content;
    gap: 10px;
    margin-bottom: 20px;
}
img {
    border-radius: 15px;
}

@media screen and (max-width: 1000px) {
    
    .basicTech {
        width: 80%;
    }
}